.forgot-page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#FAF6F0;
}

.forgot-card{
  width:450px;
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  text-align:center;
}

.forgot-card h2{
  margin-bottom:15px;
}

.forgot-card input{
  width:100%;
  height:45px;
  margin-top:15px;
  padding-left:10px;
  border-radius:8px;
  border:1px solid #ccc;
}

.forgot-card button{
  width:100%;
  height:45px;
  margin-top:15px;
  border:none;
  border-radius:8px;
  background:#D4A373;
  color:white;
  cursor:pointer;
}